@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #fff;
  margin: auto 0px;
}

.container-fluid {
  margin: 24px 0;
}

.padding {
  padding: 15px 10px;
}

.myshadow {
  box-shadow: rgba(77, 77, 77, 0.3) 0px 2px 8px 0px;
}

.banner-heading {
  font-size: 32px;
}

.card {
  border: none;
  outline: none;
  border-radius: 5px;
}

.highlight {
  font-size: 23px;
  padding: 7px;
  background-color: rgb(255, 255, 255);
  color: #000;
}

hr {
  color: #000;
}

.btn {
  width: 25%;
  margin: 7px 0;
}

.input {
  caret-color: #000;
  color: #000;
  padding: 10px 10px;
  margin: 13px 4px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: rgba(77, 77, 77, 0.3) 0px 2px 8px 0px;
}

::placeholder {
  color: #000;
}

.left-side-box-text {
  color: crimson;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.mainCard,
.backGround {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(77, 77, 77, 0.3) 0px 2px 8px 0px;
  cursor: pointer;
}

.icons-00 {
  height: 30px;
  width: 30px;
}

.icons-0 {
  height: 35px;
  width: 35px;
}

.icons,
.icons-01 {
  height: 45px;
  width: 45px;
}

.icons-2 {
  height: 70px;
  width: 70px;
}

.icons-3 {
  height: 100px;
  width: 100px;
}

.card-title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.card-title-0 {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.card-title-2 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0px;
  color: #000;
}

.inner-data {
  font-size: 22px;
  color: crimson;
  font-weight: bold;
  margin-top: 10px;
}

.inner-data-1 {
  font-size: 25px;
  color: crimson;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 15px;
}

.inner-data-01 {
  color: crimson;
  font-size: 24px;
  font-weight: bold;
}

.message {
  text-align: center;
  padding: 7px 5px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(77, 77, 77, 0.3) 0px 2px 8px 0px;
  border-radius: 5px;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid crimson;
  border-radius: 50%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s linear infinite;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .btn {
    width: 35%;
  }

  .icons {
    height: 40px;
    width: 40px;
  }

  .left-side-box-text {
    font-size: 16px;
  }

  .icons-0 {
    margin-top: 7px;
    height: 25px;
    width: 25px;
  }

  .inner-data {
    font-size: 14.5px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-title-0 {
    font-size: 13px;
  }

  .message {
    font-size: 14px;
  }

  .inner-data-01 {
    font-size: 16px;
    font-weight: bold;
  }

  .icons-01 {
    height: 30px;
    width: 30px;
  }

  .banner-heading {
    font-size: 22px;
  }

  .letterSpace {
    letter-spacing: 1px;
  }

  .message,
  .backGround,
  .input,
  .highlight,
  .mainCard {
    background-color: rgb(22, 22, 22);
  }
}
